.auth-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;

  .login-wrapper {
    width: 350px;
    border: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    gap: 20px;
    background-color: white;
  }

  .login-logo {
    padding: 0px 0 5px;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .login-input {
    font-size: 12px;
    padding: 10px 5px;
    background-color: #e9e9e94b;
    border: 1px solid rgb(216, 216, 216);
    font-weight: 400;
    border-radius: 3px;
  }

  .login-input:focus {
    outline: none;
  }
  .submit-btn {
    background-color: rgb(0, 132, 209);
    border: none;
    padding: 4px 0px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
  }

  .divider {
    font-weight: 400;
    font-size: 14px;
    color: gray;
    position: relative;
    width: 100%;
    text-align: center;

    &::before {
      content: "";
      display: block;
      clear: both;

      width: 40%;
      background-color: rgb(197, 197, 197);
      position: absolute;
      height: 1px;
      left: 0px;
      top: 10px;
    }

    &::after {
      content: "";
      display: block;
      clear: both;

      width: 40%;
      background-color: rgb(197, 197, 197);
      position: absolute;
      height: 1px;
      right: 0px;
      top: 10px;
    }
  }

  .login-with-fb {
    color: #385185;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
  }

  .forgot-password {
    font-size: 12px;
    color: #385185;
    text-decoration: none;
    font-weight: 300;
  }

  .signup-btn-box {
    display: flex;
    flex-direction: row;
    width: 350px;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    padding: 15px 0;
    justify-content: center;
    align-items: center;

    .do-not-have-account {
      font-weight: 300;
      font-size: 14px;
    }
    .go-signup-page {
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .get-app {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    gap: 10px;
    padding: 10px 0 0;

    .app-text {
      font-size: 14px;
      font-weight: 300;
    }

    .app-logo {
      display: flex;
      justify-content: center;
      gap: 10px;

      .app-img {
        height: 40px;
        width: 130px;
      }
    }
  }
}
