body {
  background-color: red;
}
.home-container {
  display: flex;
  justify-content: center;

  .home-wrapper {
    width: 870px;
    display: flex;
    gap: 20px;

    .time-line {
      flex: 3;

      .post-card {
        display: flex;
        background-color: white;
        align-items: center;
        flex-direction: column;
        margin: 20px 0px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid rgb(196, 195, 195);

        .post-card-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 0px;
          width: 95%;
          justify-content: space-between;

          .post-user-info {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .user-details {
              display: flex;
              flex-direction: column;

              a {
                text-decoration: none;
                color: black;
                font-size: 14px;
                font-weight: 700;
              }

              .location {
                font-size: 11px;
                font-weight: 300;
              }
            }
          }

          .post-opt-btn {
            button {
              border: none;
              background: transparent;
              font-weight: bold;
            }
          }
        }

        .post-image {
          width: 100%;

          img {
            width: auto;
          }
        }

        .timeline-icons {
          display: flex;
          justify-content: space-between;
          width: 95%;
          align-items: center;

          .icon-left {
            display: flex;
            gap: 10px;

            a {
              color: black;
              font-size: 20px;
            }
          }

          .icon-right {
            display: flex;
            gap: 10px;

            a {
              color: black;
              font-size: 20px;
            }
          }
        }

        .post-details {
          display: flex;
          flex-direction: column;
          width: 95%;
          justify-content: center;
          padding: 10px 0px;

          .likes {
            font-size: 14px;
            font-weight: 500;
          }

          .post-content {
            font-size: 16px;
            padding: 5px 0px;

            a {
              font-weight: 500;
              color: black;
              text-decoration: none;
            }
          }

          .post-comments {
            color: gray;
            font-size: 14px;
            padding-bottom: 5px;
            cursor: pointer;
          }

          .post-time {
            color: rgb(189, 189, 189);
            font-size: 12px;
          }
        }

        .all-comments-area {
          display: flex;
          width: 95%;
          height: 40px;
          border-top: 1px solid #e9e9e9;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          padding: 15px 0;

          a {
            font-size: 18px;
          }

          input {
            width: 100%;
            padding: 0px 5px;
            border: none;

            &:focus {
              outline: none;
            }
          }

          button {
            border: none;
            background-color: transparent;
            font-size: 14px;
            color: #3eb8c4;
            font-weight: 700;
          }
        }
      }
    }

    .user-info {
      flex: 2;
      display: flex;
      width: 90%;
      height: 50px;
      justify-content: space-between;
      margin: 20px 0px;
      align-items: center;

      .user-personal-info {
        display: flex;
        gap: 10px;
        height: 50px;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          display: flex;
          flex-direction: column;
          font-size: 14px;

          a {
            color: black;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }

      a {
        text-decoration: none;
        color: #0094a19f;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
